body {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-align: center;
    background-image: url(wood-leaves.jpeg);
    background-size: cover;
}

h1 {
    font-size: 40px;
}

.square {
    height: 140px;
    width: 150px;
    opacity: 0.5;
    display: inline-block;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.center-square {
    display: inline-block;
}

#top-box {
    height: 100px;
}

#entire-box {
    border: 5px solid grey;
    width: 40%;
    background-color: black;
    color: white;
}