@media screen and (max-width: 1500px) {

    body {
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        text-align: center;
        background-image: url(wood-leaves.jpeg);
        background-size: cover;
    }

    h1 {
        font-size: 40px;
    }

    .square {
        height: 140px;
        width: 150px;
        opacity: 0.5;
        display: inline-block;
    }

    .red {
        background-color: red;
    }

    .blue {
        background-color: blue;
    }

    .green {
        background-color: green;
    }

    .yellow {
        background-color: yellow;
    }

    .center-square {
        display: inline-block;
    }

    #top-box {
        height: 100px;
    }

    #entire-box {
        border: 5px solid grey;
        width: 40%;
        background-color: #111723;
        color: white;
    }

    #end-game {
        color: #111723;
        font-size: 30px;
    }

    #title-two {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    body {
        background-size: contain;
    }

    #entire-box {
         border: 5px solid grey;
         width: 70%;
         background-color: #111723;
         color: white;
     }

}

@media screen and (max-width: 425px) {

    #title-one {
        display: none;
    }

    #title-two {
        display: inline;
    }

    #entire-box {
        border: 5px solid grey;
        width: 100%;
        background-color: #111723;
        color: white;
    }

    #end-game {
        font-size: 25px;
    }

    #green {
        margin-top: 30px;
    }

    #yellow {
        margin-top: 30px;
    }

}